.jumbotron{
    background-color: #b6eb7a;
    color:#fb7813;
    margin-top: 50px;
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: #b6eb7a;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel{
    flex: 1 200px;
    margin-top: 50px;
}

.btn-reserve{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}
.images{
    width: 100%;
    height: 300px;
}

.tab-content{
    padding-top: 10px;
}