@yellow:#b6eb7a;

.margenes(@top: 0px,@bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @yellow;
    color: #fb7813;
    .margenes(10px,0px);
}
  
  .footer {
    padding: 10px 10px 0 10px;
    background-color: @yellow;
    margin-bottom: 0px;
    margin-top: 10px; }
  
  .card-hotel {
    flex: 1 200px;
    margin-top: 50px; }
  
  .btn-reserve {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .images {
    width: 100%;
    height: 300px; }
  
  .tab-content {
    padding-top: 10px; }
  