$yellow:#fff000;
$titulo:#fb7813;

// Mixin
@mixin margenes($top,$botton){
    margin-top: $top;
    margin-bottom: $botton;
}

.jumbotron{
    background-color: $yellow;
    color:$titulo;
    @include margenes(50px, 0px);
}
.footer{
    padding: 10px 10px 0 10px;
    background-color: $yellow;
    margin-bottom: 0px;
    margin-top: 10px;
}
.card-hotel{
    flex: 1 200px;
    margin-top: 50px;
}

.btn-reserve{
    width: 100%;
    border-radius: 0px;
}

.footer-address-icon{
    padding-right: 10px;
}
.images{
    width: 100%;
    height: 300px;
}

.tab-content{
    padding-top: 10px;
}